.navbar {
  display: flex;
  height: 50px;
  justify-content: space-between;
  border: 0.5px rgba(185, 185, 185, 0.637) solid;
  align-items: stretch;
  position: sticky;
  top: 0;
  margin-bottom: 9px;
  background-color: white;
  .logo {
    font-size: 40px;
    font-weight: bold;
    color: #0b4870b4;
    margin-left: 20px;
    margin-top: -5px;
    cursor: pointer;
  }
  .options {
    .options_list {
      display: flex;
      list-style: none;
      height: 100%;

      .options_links {
        color: #222;
        align-items: center;
        display: flex;
        padding: 5px 17px;
        cursor: pointer;
        &:nth-child(2) {
          padding: 9px;
        }
        &:last-child {
          color: #fefefe;
          background-color: #0b4870b4;
        }
        &:hover:not(:last-child) {
          color: #fefefe;
          background-color: #e2a94eb7;
        }
      }
      .selected {
        color: #fefefe;
        background-color: #e2a94eb7;
      }
    }
  }
}
