.detailsBody {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  color: #be8e41;
  display: flex;
  
  justify-content: space-between;
  .left {
    flex: 0.5;
    * {
      margin-left: 50px;
    }
    @media (max-width : 480px) {
      h1 {
        font-size: 25px;
      }
    }
    h1 {
      text-transform: uppercase;
      color: #22597d;
      margin: 0;
    }
    p {
      font-size: 18px;
    }
    .photosContainer {
      background-color: #eeeeee4b;
      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      &::-webkit-scrollbar-thumb {
        background: #888;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
      display: grid;
      grid-template-columns: auto auto;
      row-gap: 10px;
      column-gap: 0px;
      width: fit-content;
      height: 200px;
      overflow-y: scroll;
      margin: 0;
      .otherPhoto {
        width: 110px;
        height: 80px;
        cursor: pointer;
      }
    }
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    .links{
      align-self: center;
      margin-right:-12px ;
      margin-top:12px ;
      display: flex;
      align-items: center;
      h2{
        margin-right: 9px;
        margin-top: -3px;
      }
      a{
        color: #537E9A;
        font-size: 23px;
        margin-right: 12px;
        &:hover{
        color: #356a8d;

        }
      }
    }
    
    .viewed_photo {
      width: 700px;
      height: 430px;
      -webkit-box-shadow: 2px 4px 10px 2px rgb(0, 0, 0);
      box-shadow: 2px 4px 10px 2px rgb(184, 184, 184);
    }
    @media (max-width : 1200px) {
      .viewed_photo{
        width: 630px;
      height: 400px;
      }
    }
    @media (max-width : 720px) {
      .viewed_photo{
        width: 520px;
      height: 300px;
      }
    }
    @media (max-width : 580px) {
      .viewed_photo{
        width: 400px;
      height: 280px;
      }
    }
    @media (max-width : 450px) {
      .viewed_photo{
        width: 340px;
      height: 270px;
      }
    }
  }
}
@media (max-width : 1040px) {
  .detailsBody{
    flex-direction: column;
    .right{
      align-items: flex-start;
      margin-top: 30px;
      .links{
        align-self: flex-start;
      }
    }
  }
}
