.work_body {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  place-items: center;
  row-gap: 30px;
  column-gap: 9px;
  .awork {
    position: relative;
    .workImg {
      width: 100%;
      height: 100%;
    }
    width: 400px;
    text-align: center;
    -webkit-box-shadow: 2px 4px 10px 2px rgb(0, 0, 0);
    box-shadow: 2px 4px 10px 2px rgb(184, 184, 184);
    cursor: pointer;
    &:hover {
      transform: scale(1.12);
      transition: transform 0.3s;
      z-index: 100;
      .options {
        display: flex;
      }
      .workTitle {
        display: block;
      }
    }
    height: 240px;
    .underPhoto {
      position: absolute;
      bottom: 0px;
      left: 36%;
      z-index: 200;
    }
    .workTitle {
      color: gray;
      font-size: 19px;
      text-transform: uppercase;
      font-weight: bold;
      display: none;
      font-weight: bold;
    }
    .options {
      display: none;
      height: 30px;
      align-items: center;
      justify-content: center;
      .options_btn {
        cursor: pointer;
        border: none;
        background-color: transparent;
        font-size: 20px;
        color: rgb(85, 85, 85);
        &:hover {
          color: gray;
        }
      }
      .dl {
        margin-right: 9px;
      }
    }
  }
}
